$icon-font-path: '../fonts/';
$dummy-image-path: '../images/hotel.jpg';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "icons.scss";
// endbower

header {
  height: 105px;
  background: url('../images/header.jpg') top center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.left-column {
  width: 264px;
  margin-right: 20px;
}

.right-column {
  width: 814px;
}

.facilities-container {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facilities-category {
  padding: 10px;
  margin-bottom: 20px;
  flex-basis: 32%;
  flex-grow: 0;
  background: #e9f0fa;
  border: 1px darken(#e9f0fa,3%) solid;
  border-radius: 3px;

  &.free {
    color: rgba(white,.9);
    background: #0ab21b;
    border-color: darken(#0ab21b,3%);

    h5 {
      color: white;
    }
  }
}

.facilities-detail {
  padding: 0;
  color: rgba(#003580, .7);
  list-style: none;

  li {
    padding: 3px 0;
    border-bottom: 1px darken(#e9f0fa,8%) solid;

    &:last-child {
      border-bottom: none;
    }
  }
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
  color: #003580;

  span {
    display: inline-block;
    padding: 5px;
    font-size: .6em;
    color: #003580;
    vertical-align: middle;
    background: #e9f0fa;
    border-radius: 3px;
  }
}

h5 {
  display: flex;
  margin: 0;
  margin: 0 0 .5em 0;
  font-size: 1.3em;
  font-weight: 400;
  color: #003580;
  justify-content: space-between;

  .icon {
    margin-left: 10px;
  }
}

.wide {
  text-align: center;
}

footer {
  height: 904px;
  background: url('../images/footer.jpg') top center;
}
